<h2>Creating a new celebrity</h2>


<form method="POST" action="/celebrities/create">
  
  <label> Name:
    <input name="name" type="text"/>
  </label>

  <label>
    Occupation:
    <input name="occupation" type="text" />
  </label>

  <label>
    Catch Phrase:
    <input name="catchPhrase" type="text" />
  </label>
  
  <button>Create</button>


</form>