<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button>
    <a href="/celebrities/create">Create New Celebrity</a>
</button>

<button>
    <a href="/movies/create">Create New Movies</a>
</button>

<button>
    <a href="/celebrities">List of all Celebrities</a>
</button>