<h2>Creating a new movie</h2>


<form method="POST" action="#">
  
  <label> title:
    <input name="title" type="text"/>
  </label>

  <label>
    genre:
    <input name="genre" type="text" />
  </label>

  <label>
    plot:
    <input name="plot" type="text" />
  </label>

  <label>
    cast:
    <input name="cast" type="text" />
  </label>
  
  <button>Create</button>


</form>